html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(222, 229, 224);
    color: rgb(32, 32, 32);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.body__whiteBackground {
    background:white;
}







